<div class="container">
    <br/>
    <h5>Déjanos un mensaje</h5>
    <br/><br/>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Nombres y Apellidos</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre y apellidos">
            </div>
            <div class="form-group col-md-6">
                <label for="Email">Dirección de Email</label>
                <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Ingrese su email">
                <small id="emailHelp" class="form-text text-muted">No compartiremos su correo con nadie.</small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="telefono">Teléfono</label>
                <input type="text" class="form-control" id="telefono" placeholder="Ingrese su teléfono">
            </div>
            <div class="form-group col-md-6">
                <label for="mensaje">Mensaje</label>
                <textarea class="form-control" id="mensaje" placeholder="Ingrese su mensaje"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br/>
        <br/>
    </form>
</div>