 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"><img style="width: 200px;" src="https://newhorizonsperu.pe/assets/new-horizons/images/logo/logo.png"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav"> 
            <li class="nav-item">
                <a class="nav-link" routerLink='/home'>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/course'>Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/contact'>Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/admin'>Administrador</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav"></div>
    <div class="collapse navbar-collapse" id="navbarNav"></div>
    <div class="collapse navbar-collapse" id="navbarNav"></div>
    <div class="collapse navbar-collapse" id="navbarNav"></div>
    <div class="collapse navbar-collapse" id="navbarNav"></div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink='/auth'>Iniciar Sesión</a>
            </li>
        </ul>
    </div>
</nav>


<!-- La pregunta 1d ya está implementada en lo presentado anteriormente -->